.welcome-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 50px
}

.welcome-title {
    color: #00f;
    font-size: 60px;
    margin: 70px;
    font-display: swap;

}

.welcome-container p {
    font-size: 30px
}

.continue-button {
    background-color: #006100;
    color: #fff;
    font-size: 30px;
    height: 70px;
    padding: 10px 20px;
    margin-top: 80px;
    border-radius: 5px;
    border: none;
    cursor: pointer
}
